html {
  overflow-y: scroll;
}

html, body {
  height: 100%;
}

body {
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: left top;
}

.azbr-color {
  color: #f8b20b
}

.azbr-alt-color {
  color: #0088cc;
}

#container {
  background-color: rgba( 150, 150, 150, .9 );
}

#footer-row {
  background-color: rgba( 125, 125, 125, .8 );
  color: rgba( 255, 255, 255, .8 );
  height: 30px;
  padding: 5px;
  text-align: right;
}

#header-logo {
  background-color: #fff;
  padding: 5px;
}

#header-row {
  background-repeat: no-repeat;
  background-position: right center;
  padding-bottom: 30px;
  padding-top: 30px;
}    

#title-span h1 {
  font-size: 500%;
  font-weight: bold;
  text-shadow: #555 5px 5px 20px;
}

#title-span h3 {
  color: #fff;
  font-weight: bold;
  text-shadow: #555 2px 2px 10px;
  font-size: 30px;
}

#title-span a:hover {
  color: #f8b20b;
  text-decoration: none;
}

#wrap {
  height: auto;
  margin: 0 auto -30px;
  min-height: 100%;
  padding: 0 0 30px;
}

.well {
  background-color: rgba( 240, 240, 240, 1 )
}
  
h2 {
  background-color: rgba( 80, 80, 80, 1 );
  padding: 5px;
  padding-left: 15px;
}


.dropdown-header {
  background-color: #f8b20b;
  color: #fff;
  font-size: 100%;
  font-weight: bold;
}
